meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="theme-color" content="#000")
title Space-Quiz|DreamUP
meta(name="description" content="Js-quiz")
meta(name="keywords" content="space")
link(rel="stylesheet", type="text/css", href="style.css")
link(rel="shortcut icon" href="src/img/cookie.png" type="image/png")
