.game-intro__info
  .info-overlay
  .info-content
    .info-content__btn-close
    h2.info-content__title
      strong JS Raccoon
    p.info-content__text
      | A small journey across the JavaScript Galaxy is waiting for you. During
      | this space trip you will control a brave and at the same time a cute raccoon.
      | He has to go through a lot of challenges: during the flight questions that
      | require your answers will bombard this little space creature. As this raccoon
      | has no autopilot, it's you who will guide him (with a help of your mouse).
    p.info-content__text
      | P.S. Oh, we nearly forgot to tell you that you will need basic knowledge
      | of JavaScript (although you can try your luck without it).
