section.game-intro
  include preloader
  include info
  .start__title ADVENTURES OF SPACE RACCOON
  .start__act-btn.btn-play
    span.tooltip-content.tooltip--play PLAY
  .start__act-btn.btn-info
    span.tooltip-content.tooltip--info INFO
  .decor-intro-star.star--1
  .decor-intro-star.star--2
  .decor-intro-star.star--3
  .decor-intro-star.star--4
  .decor-intro-star.star--5
  .decor-intro-star.star--6
  .decor-intro-star.star--7
  .decor-intro-gradient
    .decor-intro-planet
  a.game__copyright(href='https://www.behance.net/elliepooh')
  a.game__octocat(href='https://github.com/elliepooh/elliepooh.github.io')
audio.game-music(loop='' autoplay='')
  source(src='src/audio/Start.wav')
