section.game-level
  .game-level__start
    .game-level__start-text
      | TIME TO START&nbsp;
      span.game-level__start-count 3
  .game-level__decor
    .decor-star
  .game-level__canvas-block
    canvas.canvas-block__canvas
  include interface
include warn
