.game__music-player.player--active
  .controls
    ul
      li.playlist.toggle
        i.playlist
          svg(fill='#fff', height='28', viewbox='0 0 24 24', width='28', xmlns='http://www.w3.org/2000/svg')
            path(d='M0 0h24v24H0z', fill='none')
            path(d='M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z')
      li
        i.backward
          svg(fill='#fff', height='28', viewbox='0 0 24 24', width='28', xmlns='http://www.w3.org/2000/svg')
            path(d='M6 6h2v12H6zm3.5 6l8.5 6V6z')
            path(d='M0 0h24v24H0z', fill='none')
      li.play--active
        i.pause
          svg(fill='#fff', height='28', viewbox='0 0 24 24', width='28', xmlns='http://www.w3.org/2000/svg')
            path(d='M6 19h4V5H6v14zm8-14v14h4V5h-4z')
            path(d='M0 0h24v24H0z', fill='none')
      li.play
        i.play
          svg(fill='#fff', height='28', viewbox='0 0 24 24', width='28', xmlns='http://www.w3.org/2000/svg')
            path(d='M8 5v14l11-7z')
            path(d='M0 0h24v24H0z', fill='none')
      li
        i.forward
          svg(fill='#fff', height='28', viewbox='0 0 24 24', width='28', xmlns='http://www.w3.org/2000/svg')
            path(d='M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z')
            path(d='M0 0h24v24H0z', fill='none')
      li
        i.volume
          svg(fill='#fff', height='28', viewbox='0 0 24 24', width='28', xmlns='http://www.w3.org/2000/svg')
            path(d='M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z')
            path(d='M0 0h24v24H0z', fill='none')
  .music-player__title
    .track-name
      h1
        a(href='') Eclipse
      h2
        span.artist
          a(href='') DreamUP
        |         –
        span.album
          a(href='') Space Effect
  .music-player__progress
      .progress__bar
