/* Level*/

.game-level {
  position: relative;
  height: 400vh;
  width:100vw;
  background: -moz-linear-gradient(90deg, rgba(39,51,85,1) 0%, rgba(95,42,122,1) 25%, rgba(23,167,207,0.8) 50%, rgba(255,162,131,1) 75%, rgba(55,5,99,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(55,5,99,1)), color-stop(25%, rgba(23,167,207,0.8)), color-stop(50%, rgba(255,162,131,1)), color-stop(75%, rgba(95,42,122,1)), color-stop(100%, rgba(39,51,85,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(39,51,85,1) 0%, rgba(95,42,122,1) 25%, rgba(23,167,207,0.8) 50%, rgba(255,162,131,1) 75%, rgba(55,5,99,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(39,51,85,1) 0%, rgba(95,42,122,1) 25%, rgba(23,167,207,0.8) 50%, rgba(255,162,131,1) 75%, rgba(55,5,99,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(39,51,85,1) 0%, rgba(95,42,122,1) 25%, rgba(23,167,207,0.8) 50%, rgba(255,162,131,1) 75%, rgba(55,5,99,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(39,51,85,1) 0%, rgba(95,42,122,1) 25%, rgba(23,167,207,0.8) 50%, rgba(255,162,131,1) 75%, rgba(55,5,99,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#370563', endColorstr='#273355',GradientType=0 ); /* ie6-9 */
}

.game-level__canvas-block{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.game-level__start {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game__btn-music {
  position: fixed;
  top:2%;
  right:1%;
  display: inline-block;
  z-index: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  content: "";
  display: block;

  &:hover, &:active{
    opacity: 1;
  }
}

.btn--musicon{
  background: transparent url(../img/musicon.png) no-repeat;
}

.btn--musicoff{
  background: transparent url(../img/musicoff.png) no-repeat;
}

.game__btn-back {
    position: fixed;
    content: "";
    display: block;
    top:2%;
    left:1%;
    background: transparent url(../img/Arrow-Down.png) no-repeat right;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    z-index: 0;
    cursor: pointer;

    &:hover, &:active{
      opacity: 1;
    }
}

.game-interface {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 10vh;
  bottom: 0;
  left: 0;
  background: transparent;
}

.game-interface_life {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-left: 2%;
  letter-spacing: 10px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.game-interface_score {
  @extend .game-interface_life;
  letter-spacing: 1px;
  padding-right: 2%;
  padding-left: 0;
  text-align: right;
}

.score-count {
  margin-left: 2%;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.game-overlay{
  @include absolute();
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(55, 58, 71, 0.5);
  visibility: hidden;
  z-index: 500;
}

.overlay--active{
  visibility: visible;
}

.game-overlay__warn {
  @include absolute();
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.warn__title {
  -webkit-box-flex:3;
      -ms-flex:3;
          flex:3;
  font-size: $font-size*4;
  margin: 0;
}

.warn__score {
  -webkit-box-flex:2;
      -ms-flex:2;
          flex:2;
  margin-bottom: 2em;
}

.warn__score strong {
}


.warn__btn {
  padding: $btn-padding;
	border-radius: $btn-border-radius;
	background-color: $btn-color;
	color: $text-color;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  cursor: pointer;
  position: relative;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 5px 6px rgba(0,0,0,0.2);

  &::before, &::after{
    @include absolute();
    top:-20px;
    left:-20px;
    bottom:-20px;
    right:-20px;
    border-radius: $btn-border-radius;
    background: inherit;
    z-index: -1;
  	opacity: 0.7;
  	-webkit-transform: scale3d(0.8, 0.5, 1);
  	transform: scale3d(0.8, 0.5, 1);
  }

  &:hover, &:active{
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    background-color: $btn-color;
  	color: #ECEFF1;
  	-webkit-animation: btn-click 0.3s forwards;
  	animation: btn-click 0.3s forwards;

    &::before{
      -webkit-animation: btn-click-2 0.3s 0.3s forwards;
      animation: btn-click-2 0.3s 0.3s forwards;
    }
  }
}


/* Level end*/
