//output:index.html
//{name: 'Manuel',
		date: newDate,
		myFunc: function(){
		return true;}}

doctype html
html(lang='en')
	include ../jade/module/head
	body
		include ../jade/module/level
		include ../jade/module/warn
		include ../jade/module/interface
		include ../jade/module/intro
		include ../jade/module/script
