.game-intro__info
  .info-overlay
  .info-content
    .info-content__btn-close
    h2.info-content__title
      strong Howdy
      | , I'm a dialog box
    p.info-content__text
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ipsum, reiciendis. Voluptatibus iste repellat, aliquid saepe repellendus fugiat nostrum atque quos, iure dolorem aut beatae. Saepe alias, nihil magni culpa.
