section.game-intro
  .game-intro__info
    .info-overlay
    .info-content
      .info-content__btn-close
      h2.info-content__title
        strong Howdy
        | , I'm a dialog box
      p.info-content__text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ipsum, reiciendis. Voluptatibus iste repellat, aliquid saepe repellendus fugiat nostrum atque quos, iure dolorem aut beatae. Saepe alias, nihil magni culpa.
  .game__btn-music.btn--musicoff
  .game-intro__start
    .start__title ADVENTURES OF SPACE RACCOON
    .start__act
      .start__act-btn.btn-play PLAY
      .start__act-btn.btn-info INFO
  .game-intro__decor
    .decor-star
    .decor-triangle
  .game-intro__footer
    .footer__social
      ul.social-block
        li.social-block__link
          a.link--github(href='')
    .footer__copyright
      a.copyright__link(href='') GAME BY DREAMUP
audio.game-music(loop='' autoplay='')
  source(src='audio/Start.wav')
