section.game-level.game-level--first
  .game-level__start
    .game-level__start-text
      | TIME TO START
      span.game-level__start-count 3
  .game-level__decor
    .decor-star
  canvas.game-level__canvas
