// Font-stack

$font-size-base: 18px;
$font-size: 1em;
$font-family: 'Righteous', cursive;
$font-transform: uppercase;
$text-align: center;
$spacing: 1px;

//Btn-style

$btn-padding: 1em 4em;
$btn-border-radius: 50px;

//pallete

$primary-color: #C04848;
$secondary-color: #F7D8C3;
$thirdary-color: #480048;
$text-color: #EEE;
$dark-color: #212121;
$middle-color: #757575;
$light-color: #bdbdbd;
$accent-color: #4F7CAC;
$btn-color: #c65856;
